
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Complexity Checker</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 50px;
        }
        form {
            margin-bottom: 20px;
        }
        .result {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <h1>Password Complexity Checker</h1>
    <form action="/check" method="post">
        <label for="password">Enter your password:</label><br>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Check">
    </form>
    
    
    {% if result %}
        <div class="result">{{ result }}</div>
    {% endif %}

    <h4>NOTE:<br></h4>
    <p>Minimum of 12 Characters: The longer the password, the more difficult it is to crack.<br>
        Include Uppercase Letters: Use a mix of uppercase (A-Z) and lowercase (a-z) letters.<br>
        Include Numbers: Add numerical digits (0-9).<br>
        Include Special Characters: Incorporate special characters (e.g., !, @, #, $, %, ^, &, *).</p>
</body>
</html>
